*{
    margin: 0;
    padding: 0;
} 



.fa-magnifying-glass{
    height: 25;
    width: 25;
}

header{
    width: 100%;
    height: 130px;
    background: url(../assets/background.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
}

.pesquisa{
    position: absolute;
    left: 10%;
    background: black;
    height: 40px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    width: 270px;
    padding: 0;
    margin: 0;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: white;
    font-size: 15px;
    line-height: 40px;
    margin-top: 20px;
    margin-left: 5%;
}

.searchbtn{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 30px;
    left: 240px;
    color: transparent;
    background-color: transparent;
    border: none;
}

.logo {
    width: 200px;
}

#logo{
    left: 50%;
    position: relative;
}

.barra{ 
    position: relative;
    right: 51%;
}

.user{ 
    position: relative;
    left: 40%;
}

.cart{ 
    position: relative;
    left: 33%;
}

.fa-bars{
    font-size: 30px;
}

.fa-user{
    font-size: 30px;
}

.fa-cart-shopping{
    font-size: 30px;

}

.fa-magnifying-glass{
    font-size: 20px;
    text-decoration: none;
}

